<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PSQL" connectionString="Host=127.0.0.1;Username=postgres;Password=Artvin2001;Database=ppo;" providerName="Npgsql Data Provider" />
		<add name="MSSQL" connectionString="Server=LAPTOP-623125E8;Database=ppo2;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DBMS" value="MSSQL" />
	</appSettings>
</configuration>
